.sidebarFriend
{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

.sidebarFriendImg
 {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
 }