.rightbarFriend
{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfielImgContainer
{
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg
{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline
{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -1px;
    right: 0;
    border: 2px solid white;
}

.rightbarUserName
{
    font-weight: 500;
}
